<div class="mt-5">Hi {{username | titlecase}}
  <div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>
  
  <div *ngIf="showFlag" class="col-md-10 mx-auto">
  <form #accfrm="ngForm" (ngSubmit)="getNoTxns()">
  <div>Select AccountID :  </div>
   <div>
  <select name="accid" required [(ngModel)]="accId" #accid="ngModel" class="from-control">
  <option value="">--Select Account ID--</option>
  <option *ngFor="let acc of accounts" value="{{acc.accountId}}">{{acc.accountId}}</option>
  </select>
   <div class="alert alert-danger" *ngIf="accid.invalid && accid.touched">Must select account ID</div> 
  </div>
  
     <button type="submit" class="btn-success p-1 m-1" [disabled]="!accfrm.valid" >Get Recent Transactions</button>
   </form>
   </div>
</div>
<section *ngIf="txnListFlag">
  
  <table class="table table-primary table-striped table-hover col-md-10 mx-auto mt-3" >
    <tr>
        <th>Transaction ID</th>
        <th>  Account ID  </th>
        <th>    Description    </th>
        <th>Transaction Type</th>
        <th>  Date  </th>
        <th>Transaction Amount</th>
        
        
    </tr>
    <tr *ngFor ="let txns of listTxn">
        <td>{{txns.transaccountId}}</td>
        <td>{{txns.account.accountId | uppercase }}</td>
        <td>{{txns.transDescription | titlecase }}</td>
        <td>{{txns.transType | uppercase }}</td>
        <td>{{txns.transDate | date }}</td>
        <td>{{txns.transAmount | currency: INR}}</td>
     </tr>
  </table>
</section>