<section class="container-fluid bg col-md-12">
    <img src="../assets/3.jpg" style="  background-size:cover;
                                        background-position: center;
                                        height: 100vh;
                                        width: 100%;">
</section>



<div class="team-section jumbotron container-fluid">
    <h1>Our Services</h1>
    <span class="border"></span>
    <div class="ps">
      <a class="nav-link" (click)="gotoAccount()" (mouseover)="viewP1()" ><img src="../assets/ser2.jpg" alt=""></a>
      <a class="nav-link" (click)="gotoCustomer()" (mouseover)="viewP2()" ><img src="../assets/ser5.jpg" alt=""></a>
      <a class="nav-link" (click)="gotoLoan()" (mouseover)="viewP3()" ><img src="../assets/ser11.jpg" alt=""></a>
      <a class="nav-link"  (click)="gotoTransferFund()" (mouseover)="viewP4()"><img src="../assets/ser13.png" alt=""></a>
      <a class="nav-link"  (click)="gotoPassbook()" (mouseover)="viewP5()"><img src="../assets/ser12.jpg" alt=""></a>
    </div>
  
  
  <div class="section" id="p1" name="p1" *ngIf="showP1Flag">
    <span class="name">Account</span>
    <span class="border"></span>
    <p>
      his first volume begins with Eiseley’s debut collection, which displays his far-reaching knowledge and boundless curiosity about the mysteries of the natural world. Here are vivid accounts of prehistoric ecosystems, the origins of consciousness, the search for “living fossils” at the bottom of the sea, and the complexities of our evolutionary inheritance. Here too are literary qualities and aspirations that led many to hail Eiseley as a “modern Thoreau”: his quest for the ultimate meanings and cosmological significance of natural phenomena, along with his immense expressive gifts. 
    </p>
  </div>
  <div class="section" id="p2" name="p2" *ngIf="showP2Flag">
    <span class="name">Customer</span>
    <span class="border"></span>
    <p>
      The Firmament of Time (1960), a lyrical and meditative tour de force, looks back at the many ways in which the sciences have been shaped by the changing cultures in which they developed. Examining the role of metaphor in scientific thought, anticipations of scientific discoveries in the works of poets and novelists, and the “unconscious conformity” of scientific theory to prevailing orthodoxies, Eiseley argues provocatively for the ongoing relevance to scientific progress of dreams, the imagination, and the irrational.
    </p>
  </div>
  <div class="section" id="p3" name="p3" *ngIf="showP3Flag">
    <span class="name">Loan</span>
    <span class="border"></span>
    <p>
      In his wide-ranging collection The Unexpected Universe (1969), Eiseley turns to the theme of the voyage of discovery: accounts of the mythical and historic journeys of Odysseus, Captain Cook, and Darwin frame his own more modest wanderings in the environs of Philadelphia. Sometimes he travels no farther than the local dump: and yet, like Homer’s hero or these great explorers, he continually finds a universe “not only queerer than we suppose, but queerer than we can suppose.” 
    </p>
  </div>
  <div class="section" id="p4" name="p4" *ngIf="showP4Flag">
    <span class="name">Transfer Fund</span>
    <span class="border"></span>
    <p>
      LIBRARY OF AMERICA is an independent nonprofit cultural organization founded in 1979 to preserve our nation’s literary heritage by publishing, and keeping permanently in print, America’s best and most significant writing. The Library of America series includes more than 300 volumes to date, authoritative editions that average 1,000 pages in length, feature cloth covers, sewn bindings, and ribbon markers, and are printed on premium acid-free paper that will last for centuries.
    </p>
  </div>
  <div class="section" id="p5" name="p5" *ngIf="showP5Flag">
    <span class="name">PassBook</span>
    <span class="border"></span>
    <p>
      LIBRARY OF AMERICA is an independent nonprofit cultural organization founded in 1979 to preserve our nation’s literary heritage by publishing, and keeping permanently in print, America’s best and most significant writing. The Library of America series includes more than 300 volumes to date, authoritative editions that average 1,000 pages in length, feature cloth covers, sewn bindings, and ribbon markers, and are printed on premium acid-free paper that will last for centuries.
    </p>
  </div>
</div>


