<table class="table table-primary table-striped table-hover col-md-8 mx-auto mt-3" >
  <tr>
      <th>Customer ID</th><td>{{cust.customerId}}</td>
      <th>Customer Name</th> <td>{{cust.customerName}}</td>
      <th>Address</th><td>{{cust.customerAddress}}</td>
      <th>Password</th><td>{{cust.password}}</td>
      <th>Aadhar</th><td>{{cust.customerAadhar}}</td>
      <th>Pan No</th><td>{{cust.customerPan}}</td>
      <th>DOB</th><td>{{cust.customerDob}}</td>
       <th>gender</th><td>{{cust.customerGender}}</td>

  </tr>
</table>