


   <section class="container-fluid row mx-auto user-section">
    <section class="col-md-1 menu-section">
    </section>
  
    <section class="col-md-10 mx-auto p-2 user-section-option">
      <h2>TRANSFER FUND</h2>

      <section class="col-md-7 mx-auto" *ngIf="userFlag">
        <div><h3>Hi {{username | titlecase}}</h3></div>
        <div class="alert alert-success" *ngIf="msg != undefined">{{msg}}</div>
        <div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>
        
        <div>
            <form #accfrm="ngForm" (ngSubmit)="TransferFund()">
              <div class="col-md-12 mx-auto row">
                <div class="col-md-6 mx-auto">Select AccountID :  </div>
                <div class="col-md-6 mx-auto">
                      <select name="fromid" required [(ngModel)]="txnFund.fromAccountId" #fromid="ngModel" class="from-control">
                          <option value="">--Select Account ID--</option>
                          <option *ngFor="let acc of accounts" value="{{acc.accountId}}">{{acc.accountId}}</option>
                      </select>
                </div>
              </div>     
                      <!-- <div><input type="text" id="fromId" name="fromId" class="form-control"  required #fromId="ngModel" [(ngModel)]="txnFund.fromAccountId" /></div>
                      <div class="alert alert-danger" *ngIf="toId.invalid && toId.touched">Receipent ID is required</div> -->
              <div class="col-md-12 mx-auto row">
                <div class="col-md-6 mx-auto">Enter Receipent ID :  </div>
                <div class="col-md-6 mx-auto"><input type="text" id="toId" name="toId" class="form-control"  required #toId="ngModel" [(ngModel)]="txnFund.toAccountId" /></div>
              </div>
                <div class="alert alert-danger" *ngIf="toId.invalid && toId.touched">Receipent ID is required</div>
         
              <div class="col-md-12 mx-auto row">
                <div class="col-md-6 mx-auto">Enter Amount :  </div>
                <div class="col-md-6 mx-auto"><input type="number" id="amount" name="amount" class="form-control"  required #amt="ngModel" [(ngModel)]="txnFund.amt" /></div>
              </div>
                <div class="alert alert-danger" *ngIf="amt.invalid && amt.touched">Amount is required</div>
         
             
                <button type="submit" class="btn-danger p-1 m-1" [disabled]="!accfrm.valid" >Transfer Fund</button>
            </form>
        </div>
      </section>
      

      <section class="col-md-7 mx-auto" *ngIf="adminFlag">
        <div><h5>Hi {{username | titlecase}}</h5></div>
        <div class="alert alert-success" *ngIf="msg != undefined">{{msg}}</div>
        <div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>
        
        <div>
            <form #accfrm="ngForm" (ngSubmit)="TransferFund()">
              <div class="col-md-12 mx-auto row">
                <div class="col-md-6 mx-auto">Enter AccountID :  </div>
                <div class="col-md-6 mx-auto"><input type="text" id="fromId" name="fromId" class="form-control"  required #fromId="ngModel" [(ngModel)]="txnFund.fromAccountId" /></div>
              </div>
                <div class="alert alert-danger" *ngIf="toId.invalid && toId.touched">Receipent ID is required</div>
                
              <div class="col-md-12 mx-auto row">
                <div class="col-md-6 mx-auto">Enter Receipent ID :  </div>
                <div class="col-md-6 mx-auto"><input type="text" id="toId" name="toId" class="form-control"  required #toId="ngModel" [(ngModel)]="txnFund.toAccountId" /></div>
              </div>
                <div class="alert alert-danger" *ngIf="toId.invalid && toId.touched">Receipent ID is required</div>
         
              <div class="col-md-12 mx-auto row">
                <div  class="col-md-6 mx-auto">Enter Amount :  </div>
                <div class="col-md-6 mx-auto"><input type="number" id="amount" name="amount" class="form-control"  required #amt="ngModel" [(ngModel)]="txnFund.amt" /></div>
              </div>
                <div class="alert alert-danger" *ngIf="amt.invalid && amt.touched">Amount is required</div>
         
             
                <button type="submit" class="btn-danger p-1 m-1" [disabled]="!accfrm.valid" >Transfer Fund</button>
            </form>
        </div>
      </section>
    </section>
  
    <section class="col-md-1 menu-section">
    </section>
  
  </section>
       
